# ANOVA & ANCOVA

In [2]:
# Analysis of Variant
# Analysis of covariant

In [3]:
# Anova = dependent variable - continous, independent variable - categorical
# Ancova = dependent variable- continous, independent variable - categorical,contious

In [4]:
import pandas as pd

In [5]:
df = pd.read_excel("D:\\ML\\dataset\\ANCOVA1.xlsx")

In [6]:
df.head()

   Store Number  Sales  Promotion  Coupon  ClietelRatings
0             1     10          1       1               9
1             2      9          1       1              10
2             3     10          1       1               8
3             4      8          1       1               4
4             5      9          1       1               6

In [7]:
import statsmodels.api as sm

## One way Anova
dependent varaible is contious and independent variable is categorical

In [8]:
from statsmodels.formula.api import ols   # Ordinary Least Square

In [10]:
model = ols('Sales~C(Promotion)',df).fit()   # model creation

In [11]:
oneway = sm.stats.anova_lm(model,typ=2)   # typ=1 - regression,typ =2 - anova,ancova,typ=3 - descriminal

In [12]:
print(oneway)

                  sum_sq    df          F    PR(>F)
C(Promotion)  106.066667   2.0  17.943609  0.000011
Residual       79.800000  27.0        NaN       NaN

In [13]:
## if promotion there is significatly impact on sales p<0.05,we reject H0

## Two way Anova
when the dependent variable is continous and independent variable is categorical we have two independent variables

In [14]:
model = ols('Sales~C(Promotion)+C(Coupon)',df).fit()

In [15]:
twoway = sm.stats.anova_lm(model,typ=2)

In [16]:
print(twoway)

                  sum_sq    df          F        PR(>F)
C(Promotion)  106.066667   2.0  52.098237  8.032739e-10
C(Coupon)      53.333333   1.0  52.392947  1.095036e-07
Residual       26.466667  26.0        NaN           NaN

In [17]:
## If p vales is less than 0.05 so reject H0. there is significant impact in promotion and coupon

# ANCOVA
analysis of covariant - dependent variable -contionus and independent variable - categorical and contionus

In [18]:
model = ols('Sales~C(Promotion)+C(Coupon)+C(ClietelRatings)',df).fit()

In [20]:
ancova = sm.stats.anova_lm(model,typ=2)

In [21]:
print(ancova)

                       sum_sq    df          F        PR(>F)
C(Promotion)       106.066667   2.0  50.875000  5.605989e-09
C(Coupon)           53.333333   1.0  51.162791  3.592805e-07
C(ClietelRatings)    3.533333   4.0   0.847384  5.103673e-01
Residual            22.933333  22.0        NaN           NaN

In [22]:
## if p value is less than 0.05 so reject H0, there is significat impact on promotion,coupon,clietelrating for sales

## How to calculate Eta2 values

In [25]:
def anova_table(oneway):
    oneway['eta_sq'] = oneway[:-1]['sum_sq']/sum(oneway['sum_sq'])
    cols = ['sum_sq','df','F','PR(>F)','eta_sq']
    oneway = oneway[cols]
    return oneway

In [26]:
anova_table(oneway)

                  sum_sq    df          F    PR(>F)   eta_sq
C(Promotion)  106.066667   2.0  17.943609  0.000011  0.57066
Residual       79.800000  27.0        NaN       NaN      NaN

In [27]:
anova_table(twoway)

                  sum_sq    df          F        PR(>F)    eta_sq
C(Promotion)  106.066667   2.0  52.098237  8.032739e-10  0.570660
C(Coupon)      53.333333   1.0  52.392947  1.095036e-07  0.286944
Residual       26.466667  26.0        NaN           NaN       NaN

In [28]:
anova_table(ancova)

                       sum_sq    df          F        PR(>F)    eta_sq
C(Promotion)       106.066667   2.0  50.875000  5.605989e-09  0.570660
C(Coupon)           53.333333   1.0  51.162791  3.592805e-07  0.286944
C(ClietelRatings)    3.533333   4.0   0.847384  5.103673e-01  0.019010
Residual            22.933333  22.0        NaN           NaN       NaN