In [38]:
import pandas as pd

## Wilcoxon Sign Test

In [42]:
df = pd.read_excel("D:\\ML\\dataset\\1 Wilcoxon.xlsx",sheet_name=0)

In [43]:
df.head()

   ID  TRT  AGE  WEIGHIN  STAGE  TOTALCIN  TOTALCW2  TOTALCW4 TOTALCW6
0   1    0   52    124.0      2         6         6         6        7
1   5    0   77    160.0      1         9         6        10        9
2   6    0   60    136.5      4         7         9        17       19
3   9    0   61    179.6      1         6         7         9        3
4  11    0   59    175.8      2         6         7        16       13

### Used to Compare two paired Samples

In [44]:
from scipy.stats import wilcoxon

In [57]:
stats,p = wilcoxon(df.TOTALCIN,df.TOTALCW2)
print("Stats :",stats,"\nP :",p)

Stats : 29.5
P : 0.00259741456482452

In [ ]:
### If P values is less than 0.05 so reject H0

## FriedMan Test

In [58]:
from scipy.stats import friedmanchisquare

In [59]:
##  Compaire more than two paired samples

In [60]:
stats,p = friedmanchisquare(df.TOTALCIN,df.TOTALCW2,df.TOTALCW4)
print("Stats :",stats,"\nP :",p)

Stats : 27.927710843373504
P : 8.62133745016363e-07

In [61]:
## if p values is less than 0.05 so reject H0

##  Mann Whitney Test

In [66]:
df_mann = pd.read_excel("D:\\ML\\dataset\\3 Mann Whitney.xlsx",sheet_name=1)

In [67]:
df_mann.head()

   Design1  Design2
0       11       12
1       17       10
2       16       15
3       14       19
4       15       11

In [68]:
## used to compare two independent sample

In [69]:
from scipy.stats import mannwhitneyu

In [70]:
stats,p = mannwhitneyu(df_mann.Design1,df_mann.Design2)
print("Stats :",stats,"\nP :",p)

Stats : 9.0
P : 0.2641796636354743

In [71]:
## if P value is greater than 0.05 so we accept H0

##  Kruskal Wallis Test

In [72]:
df_kru = pd.read_excel("D:\\ML\\dataset\\4 Kruskal Wallis.xlsx",sheet_name=0)

In [73]:
df_kru.head()

   Design1  Design2  Design3  Showroom
0       11       12       23         1
1       17       10       20         2
2       16       15       18         3
3       14       19       17         4
4       15       11       10         5

In [74]:
## used to compare more than two independent samples

In [75]:
from scipy.stats import kruskal

In [77]:
b1 = df_kru.Design1
b2 = df_kru.Design2
b3 = df_kru.Design3
stats,p = kruskal(b1,b2,b3)
print("Stats:",stats,"\nP:",p)

Stats: 2.7345323741007226
P: 0.25480259087913626

In [78]:
## if p values is greater than 0.05 so we accept H0

## Chi square Test

In [79]:
df_chi = pd.read_excel("D:\\ML\\dataset\\5 Chi square Test.xlsx",sheet_name=0)

In [80]:
df_chi.head()

     ids  Gender        Smoking
0  43783  Female      NonSmoker
1  20278  Female      NonSmoker
2  20389  Female      NonSmoker
3  22820    Male            NaN
4  24559    Male  CurrentSmoker

In [81]:
## used to check depencey of variables and variable should be categorical

In [82]:
df_chi = df_chi.dropna()   # remove nan values

In [83]:
from scipy.stats import chi2_contingency

In [84]:
chitab = pd.crosstab(df_chi.Gender,df_chi.Smoking)

In [85]:
chitab

Smoking  CurrentSmoker  NonSmoker  PastSmoker
Gender
Female              31        149          13
Male                37        148          24

In [86]:
## if Pd.crosstab - function used to convert categorical to contiouns

In [87]:
stats,p,dof,expeted = chi2_contingency(chitab)

In [88]:
print("stats :",stats,"\nP :",p)

stats : 3.1712567666931584
P : 0.20481904779163013

In [89]:
### if P values is greater than 0.05 so accept H0

## One Sample T test

In [95]:
df_one = pd.read_excel("D:\\ML\\dataset\\1. One Sample.xlsx",sheet_name=0)

In [96]:
df_one.head()

     ids  Height
0  43783   72.35
1  20278   70.66
2  20389   70.68
3  24559   67.43
4  28980   68.45

In [97]:
from scipy.stats import ttest_1samp

In [98]:
## used to compare sample mean and population mean

In [99]:
stats,p = ttest_1samp(df_one.Height,65)

In [100]:
print("stats :",stats,"\nP :",p)

stats : 11.498800238580099
P : 1.087893570160242e-26

In [101]:
## If the p value is less than 0.05 so we reject H0

## Two Paried T-Test

In [102]:
df_two = pd.read_excel("D:\\ML\\dataset\\2. Paired Sample.xlsx",sheet_name=0)

In [104]:
df_two.head()

     ids  English   Math
0  43783    88.24  60.02
1  20278    89.45  70.19
2  20389    96.73  71.20
3  22820    74.06  55.89
4  24559    82.61  65.52

In [105]:
from scipy.stats import ttest_rel

In [106]:
## used to compare mean od two paired sample

In [107]:
stats,p = ttest_rel(df_two.English,df_two.Math)

In [108]:
print("stats :",stats,"\nP :",p)

stats : 36.312568981719856
P : 3.0710987192210606e-128

In [109]:
## if the p value is less than 0.05 so we reject H0

## Two Sample Indepent T-Test

In [121]:
df_ind =  pd.read_excel("D:\\ML\\dataset\\3. Independent Sample.xlsx",sheet_name=3)

In [122]:
df_ind.head()

   Nonathelete  Athelete
0     0.004413  0.004462
1     0.004872  0.005146
2     0.008851  0.004023
3     0.006508  0.003941
4     0.006314  0.004764

In [123]:
from scipy.stats import ttest_ind

In [124]:
## used to compare mean of two indepent samples

In [126]:
stats,p = ttest_ind(df_ind.Nonathelete,df_ind.Athelete)

In [127]:
print("stats :",stats,"\nP :",p)

stats : 13.368790432137319
P : 7.116633157230895e-33

In [128]:
## if p value is less than 0.05 so we reject H0